// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.link {
    appearance: none;
    display: inline-block;
    cursor: pointer;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
}

    .link:link {
         text-decoration: none;
    }

    .link:visited {
         text-decoration: none;
    }

    .link:active {
        text-decoration: none;
    }
    .link:hover {
        text-decoration: none;
    }

    .link:focus {
        outline: none;
    }

ul.without-bullets {
    list-style-type: none;
}

.icon-small {
    width: 40px;
    height: 40px;
}

.card-image {
    width: 100px;
    height: 50px;
}